<!DOCTYPE html>
<html>
<head>
  <title>{% block head_title %}{{ app.site_name }}{% endblock %}</title>

  {% block head_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% block head_favicons %}
    {% include 'partials/page/favicons.twig' with { base: app.site_assets_prefix } %}
  {% endblock %}

  {% block head_stylesheet %}
    {% if app.site_theme is defined %}
      <link href="{{ app.site_theme }}" rel="stylesheet" media="screen">
    {% else %}
      <link href="{{ app.site_bootstrap }}/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    {% endif %}

    <link href="/assets/modules/system/css/app.css" rel="stylesheet" media="screen"/>
  {% endblock %}

  {% block head_script %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ app.site_html5shiv }}"></script>
    <script src="{{ app.site_respondjs }}"></script>
    <![endif]-->
  {% endblock %}
</head>
<body class="{{ app.site_body_classes }}">

{% block navbar %}
  {% include 'partials/navbar.twig' %}
{% endblock %}

<div class="container page-wrapper">
  {% block breadcrumbs %}
    {% include 'partials/breadcrumbs.twig' %}
  {% endblock %}

  {% block contentPrefix %}
    {% if contentPrefix is defined %}
      {{ contentPrefix|raw }}
    {% endif %}
  {% endblock %}

  {% block content %}
    {% if content is defined %}
      {{ content|raw }}
    {% endif %}
  {% endblock %}

  {% block contentSuffix %}
    {% if contentSuffix is defined %}
      {{ contentSuffix|raw }}
    {% endif %}
  {% endblock %}

  <footer class="footer">
    {% block footer %}
      {% if app.site_footer is defined %}
        <p class="text-muted">{{ app.site_footer|raw }}</p>
      {% endif %}

      {% if app.site_ga_code %}
        {% include 'partials/google-analytics.twig' with { code: app.site_ga_code } %}
      {% endif %}
    {% endblock %}
  </footer>
</div>

{% block footer_script %}
  <script src="{{ app.site_jquery }}"></script>
  <script src="{{ app.site_bootstrap }}/js/bootstrap.min.js"></script>
  <script src="/assets/modules/system/js/app.js"></script>
{% endblock %}

</body>
</html>
