<!DOCTYPE html>
<html>
<head>
  <title>
    {% block head_title %}{{ app.site_name }}{% endblock %}
  </title>

  {% block head_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% block head_stylesheet %}
    {% if app.site_theme is defined %}
      <link href="{{ app.site_theme }}" rel="stylesheet" media="screen">
    {% else %}
      <link href="{{ app.site_bootstrap }}/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    {% endif %}

    <link href="/assets/modules/system/css/app.css" rel="stylesheet" media="screen"/>
  {% endblock %}

  {% block head_favicons %}
    <link rel="manifest" href="/{{ app.site_assets_prefix }}/manifest.json">
    <link rel="apple-touch-icon" sizes="57x57" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ app.site_assets_prefix }}/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/{{ app.site_assets_prefix }}/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/{{ app.site_assets_prefix }}/images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/{{ app.site_assets_prefix }}/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/{{ app.site_assets_prefix }}/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/{{ app.site_assets_prefix }}/images/favicons/favicon-16x16.png" sizes="16x16">
  {% endblock %}

  {% block head_script %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ app.site_html5shiv }}"></script>
    <script src="{{ app.site_respondjs }}"></script>
    <![endif]-->
  {% endblock %}
</head>
<body class="{{ app.site_body_classes }}">

{% block navbar %}
  {% include 'partials/navbar.twig' %}
{% endblock %}

<div class="container page-wrapper">
  {% block breadcrumbs %}
    {% include 'partials/breadcrumbs.twig' %}
  {% endblock %}

  {% block contentPrefix %}
    {% if contentPrefix is defined %}
      {{ contentPrefix|raw }}
    {% endif %}
  {% endblock %}

  {% block content %}
    {% if content is defined %}
      {{ content|raw }}
    {% endif %}
  {% endblock %}

  {% block contentSuffix %}
    {% if contentSuffix is defined %}
      {{ contentSuffix|raw }}
    {% endif %}
  {% endblock %}

  <footer class="footer">
    {% block footer %}
      {% if app.site_footer is defined %}
        <p class="text-muted">{{ app.site_footer|raw }}</p>
      {% endif %}

      {% if app.site_ga_code %}
        {% include 'partials/google-analytics.twig' with { code: app.site_ga_code } %}
      {% endif %}
    {% endblock %}
  </footer>
</div>

{% block footer_script %}
  <script src="{{ app.site_jquery }}"></script>
  <script src="{{ app.site_bootstrap }}/js/bootstrap.min.js"></script>
  <script src="/assets/modules/system/js/app.js"></script>
{% endblock %}

</body>
</html>
