{% extends 'pages/html.twig' %}

{% block site_name %}
  {% set hide = false %}

  {% if app.site_name_hide is defined %}
    {% set hide = true %}
  {% endif %}

  {% if not hide %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block contentPrefix %}
  {{ parent() }}

  {% set messages = app.getMessages() %}
  {% if messages is not empty %}
    <div class="messages on-content-prefix">
      {% for type, items in messages %}
        <div class="bg-{{ type }}">
          <ul>
            {% for item in items %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {{ parent() }}

  {% block content_form %}
    {% if form is defined %}
      {% if form_error is defined %}
        {{ form_error }}
      {% endif %}

      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    {% endif %}
  {% endblock %}
{% endblock %}
